# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignorerm
app/build
gradle
build.gradle
gradlew
gradlew.bat
import-summary.txt
local.properties
settings.gradle
.gradle
